.bicicleta-seguro-bg {
  background: var(--cor-11);
  box-shadow: inset 0 120px var(--cor-0), inset 0 -120px var(--cor-12);
}
.bicicleta-seguro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.bicicleta-seguro img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bicicleta-seguro-conteudo {
 padding: 180px 0px;
 max-width: 520px;
}
.bicicleta-seguro-conteudo h2 {
  margin-bottom: 32px;
}
.bicicleta-seguro-conteudo p {
margin-bottom: 32px;
}
@media (max-width: 800px){
  .bicicleta-seguro {
    grid-template-columns: 1fr;
  }
  .bicicleta-seguro-conteudo {
    grid-row: 1;
    padding: 160px 40px 0px 0px;
  }
  .bicicleta-seguro-img{
    max-height: 350px;
  }
}